# все файлы проектов разнообразных IDE игнорим у себя в глобальных настройках 
#     см. http://habrahabr.ru/post/202696/
#



# jquery нужен для запуска в хроме прямо из локального репозитория,
# но чтобы не быть плохим человеком и не нарушать лицензии, я сюда его не помещаю.
# качается по ссылке http://code.jquery.com/jquery-2.1.0.min.js
jquery-2.1.0.min.js




build
